compf2src
compressf
forthvm.o
fvm-reference.ods
fvm_asm.lst
fvm_asm.o
fvm_fpowl_asm.lst
fvm_library_c.c
fvm_library_c.o
fvm_library_comp.f
fvm_powl_asm.lst
head
sizes
test_fpowl
test_fpowl_asm.lst
test_fpowl_asm.o
test_fvm
test_fvm.lst
test_nconv
test_nconv_asm.o
test_nconv_backup.c
test_outn
test_powl_asm.lst
test_textinfile
x
x.lst
xx
xx.lst
y
fvm_yulark_c.c
fvm_yulark_c.o
fvm_yulark_comp.f
test_yulark
test_yulark.lst
fvm_aux.o
